<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <form [formGroup]="registroForm" (ngSubmit)="agregarRegistro()">
        <ion-item>
          <ion-input type="date" label="Fecha" label-placement="stacked" placeholder="Ingresa la fecha" formControlName="fecha"></ion-input>
        </ion-item>
        <div *ngIf="registroForm.get('fecha')?.touched && registroForm.get('email')?.invalid">
          <p *ngIf="registroForm.get('fecha')?.hasError('fecha')">Fecha es obligatorio</p>
        </div>
  
        <ion-item>
          <ion-input type="text" label="Paciente" label-placement="stacked" placeholder="Nombre del paciente" formControlName="paciente"></ion-input>
        </ion-item>
        <div *ngIf="registroForm.get('paciente')?.touched && registroForm.get('paciente')?.invalid">
          <p *ngIf="registroForm.get('paciente')?.hasError('required')">Paciente es obligatorio</p>
          <p *ngIf="registroForm.get('paciente')?.hasError('maxlength')">Paciente maximo de caracteres permitidos 100</p>
          
        </div>
  
        <ion-item>
          <ion-input type="text" label="Doctor" label-placement="stacked" placeholder="Nombre del Doctor" formControlName="doctor"></ion-input>
        </ion-item>
        <div *ngIf="registroForm.get('doctor')?.touched && registroForm.get('doctor')?.invalid">
          <p *ngIf="registroForm.get('doctor')?.hasError('required')">Doctor es obligatorio</p>
          <p *ngIf="registroForm.get('doctor')?.hasError('maxlength')">Doctor maximo de caracteres permitidos 150</p>
          
        </div>
  
        <ion-item>
          <ion-input type="text" label="Telefono" label-placement="stacked" placeholder="Telefono del Doctor" formControlName="telefono"></ion-input>
        </ion-item>
        <div *ngIf="registroForm.get('telefono')?.touched && registroForm.get('telefono')?.invalid">
          <p *ngIf="registroForm.get('telefono')?.hasError('required')">Telefono es obligatorio</p>
          <p *ngIf="registroForm.get('telefono')?.hasError('maxlength')">Telefono maximo de caracteres permitidos 10</p>
          
        </div>
  
        <ion-item>
          <ion-input type="text" label="Malestar/Sintomas" label-placement="stacked" placeholder="Describa el malestar presentado" formControlName="malestar"></ion-input>
        </ion-item>
        <div *ngIf="registroForm.get('malestar')?.touched && registroForm.get('malestar')?.invalid">
          <p *ngIf="registroForm.get('malestar')?.hasError('required')">Malestar/Sintomas es obligatorio</p>
          <p *ngIf="registroForm.get('malestar')?.hasError('maxlength')">Malestar maximo de caracteres permitidos 1024</p>
          
        </div>
        <br>
        <ion-button type="submit" expand="block" [disabled]="registroForm.invalid">Guardar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
